body{
	background: #550000;
	/*background: url('../images/8-bit-google-maps-1.jpg') 0 0;*/
	background-size: 100% auto;
	color: white;
	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,div,ul{
 	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
	display: block;
	font-size: 3.5em;
	font-weight: normal;
	text-shadow: 3px 3px #000;
	text-align: center;
}

h1 a{
	color: white;
}

h1 a:hover{
	color: #D3D3D3;	
	text-decoration: none;
}

div{
	font-size: 0.9em;
}

/*** NAV CUSTOM STYLES ***/
.dropdown-menu{
	font-size: 1em;
}

.navbar-form *{
	font-size: 1em;
}

/*** PAGES CUSTOM STYLES ***/
.jumbotron{
	color: #777;
	font-size: 1em;
}

/*** HOME PAGE SYLES ***/

.wellcome, .join-battlegame{
	height: 170px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

.wellcome{
	background-color: gray;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;
}

.join-battlegame{
	background-color: #f4f4f4;
	-moz-border-radius-bottomright: 30px;
	border-bottom-right-radius: 30px;
}

.join-battlegame h2, .join-battlegame p{
	color: black;
}

.game-info{
	float: left;
	clear: both;
	margin: 10px 0 0 0;
	padding: 15px;
	background-color: #440000;
}
/*** LOGIN PAGE STYLES ***/

.clasic-login, .social-login{
	height: 180px;
}

.disclaimer{
	display: block;
	height: 20px;
	margin: 10px 0;
}

.clasic-login{
	background-color: #999999;
}


.clasic-login ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.clasic-login label{
	width: 85px;
}


.clasic-login{
	
}

.social-login{
	background-color: #f4f4f4;
	color: #777;
}

.social-login form{
	display: block;
	float: left;
}

.social-login button{
	background: transparent;
	border: 0px;
	margin: 0px;
}
/*** Unit Selection Page ***/
.unit-selection{
	background: white;
	color: black;
	padding: 10px;
}

.unit-list{
	clear: both;
	float: left;
}

.unit{
	border: 3px solid black;
	margin: 1px;
	min-width: 250px;
}

.unit h4{
	font-size: 15px;
}

/*** Unit Selection Page ***/
.battle-group{

}

.battle-group div{
	border: 3px solid #000;
	margin: 5px 0;
	padding: 10px;
}

.battle-view{

}

.battle-view .actions{
	clear: both;
	width: 100%;
}

.battle-view .actions button{
	float: left;
	margin: 5px 10px 5px 0;
}

#responseMessage{
	clear: both;
}

#responseMessage ul{
	diaplay: block;
	margin: 0px;
	padding: 0px;
}

#responseMessage li{
	border: 3px solid black;
	display: block;
	margin: 0 0 5px 0;
	padding: 10px;
	color: white;
}

#responseMessage li .icon{
	
}

#responseMessage .Your-Team{
	background-color: blue;
}

#responseMessage .Enemy-Team{
	background-color: red;
}

#responseMessage .Battle-Result-Win{
	background-color: gold;
}

#responseMessage .Battle-Result-Lose{
	background-color: silver;
}

/**** FOOTER CUSTOM STYLES ****/
.credit{
	float: left;
	display: block;
}

.social{
	color: grey;
	display: block;
	margin: 20px 0 0;
	float: right;
}

.social span{
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

.social ul{
	float: left;
	margin: 0px;
	padding: 0px;
	display: block;
}

.social li{
	display: inline-block;
	list-style: none;
}

.social a{
	
}
