body{
	background: url('../images/8-bit-google-maps-1.jpg') 0 0;
	background-size: 100% auto;
	color: white;
	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,div,ul{
 	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
	display: block;
	font-size: 3.5em;
	font-weight: normal;
	text-shadow: 3px 3px #000;
	
}

h1 a{
	color: white;
}

h1 a:hover{
	color: #D3D3D3;	
	text-decoration: none;
}

div{
	font-size: 0.9em;
}

/*** NAV CUSTOM STYLES ***/
.dropdown-menu{
	font-size: 1em;
}

.navbar-form *{
	font-size: 1em;
}

/*** PAGES CUSTOM STYLES ***/
.jumbotron{
	color: #777;
	font-size: 1em;
}

.battle-group{

}

.battle-group div{
	border: 3px solid #000;
	margin: 5px 0;
	padding: 10px;
}

.battle-view{

}

.battle-view .actions{
	clear: both;
	width: 100%;
}

.battle-view .actions button{
	float: left;
	margin: 5px 10px 5px 0;
}

#responseMessage{
	clear: both;
}

#responseMessage ul{
	diaplay: block;
	margin: 0px;
	padding: 0px;
}

#responseMessage li{
	border: 3px solid black;
	display: block;
	margin: 0 0 5px 0;
	padding: 10px;
	color: white;
}

#responseMessage li .icon{
	
}

#responseMessage .Your-Team{
	background-color: blue;
}

#responseMessage .Enemy-Team{
	background-color: red;
}

#responseMessage .Battle-Result-Win{
	background-color: gold;
}

#responseMessage .Battle-Result-Lose{
	background-color: silver;
}

/**** FOOTER CUSTOM STYLES ****/
.credit{
	float: left;
	display: block;
}

.social{
	color: grey;
	display: block;
	margin: 20px 0 0;
	float: right;
}

.social span{
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

.social ul{
	float: left;
	margin: 0px;
	padding: 0px;
	display: block;
}

.social li{
	display: inline-block;
	list-style: none;
}