body{
	background: url('../images/8-bit-google-maps-1.jpg') 0 0;
	background-size: 100% auto;
	color: white;
	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,h2,h3,div,ul{
 	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
	font-size: 3.5em;
}

h2{
	font-size: 1.2em;
}

div{
	font-size: 0.9em;
}
.dropdown-menu{
	font-size: 1em;
}

.navbar-form *{
	font-size: 1em;
}

.jumbotron{
	color: #777;
}

