body{
	background: url('../images/8-bit-google-maps-1.jpg') 0 0;
	background-size: 100% auto;
	color: white;
	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,div,ul{
 	font-family: 'Press Start 2P', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
	font-size: 3.5em;
	text-shadow: 3px 3px #000;
}

div{
	font-size: 0.9em;
}

.dropdown-menu{
	font-size: 1em;
}

.navbar-form *{
	font-size: 1.2em;
}

.jumbotron{
	color: #777;
	font-size: 1em;
}

.battle-group{
	border: 3px solid #000;
	margin: 5px 0;
	padding: 0 5px;
}

#responseMessage ul{
	diaplay: block;
	margin: 0px;
	padding: 0px;
}

#responseMessage li{
	border: 3px solid black;
	display: block;
	margin: 0 0 2px 0;
	padding: 3px;
	color: white;
}

#responseMessage .Your-Team{
	background-color: blue;
}

#responseMessage .Enemy-Team{
	background-color: red;
}

#responseMessage .Battle-Result{
	background-color: gold;
}